[submodule "flightmare"]
	path = flightmare
	url = git@github.com:thethaibinh/flightmare.git
[submodule "catkin_simple"]
	path = catkin_simple
	url = https://github.com/catkin/catkin_simple
[submodule "mav_comm"]
	path = mav_comm
	url = https://github.com/ethz-asl/mav_comm
[submodule "dodgedrone_simulation"]
	path = dodgedrone_simulation
	url = https://github.com/uzh-rpg/dodgedrone_simulation.git
	branch = main
[submodule "dess"]
	path = envtest/ros/planner/dess
	url = git@github.com:thethaibinh/DESS.git
[submodule "eigen_catkin"]
	path = eigen_catkin
	url = git@github.com:ethz-asl/eigen_catkin.git
[submodule "rpg_quadrotor_common"]
	path = rpg_quadrotor_common
	url = git@github.com:uzh-rpg/rpg_quadrotor_common.git
[submodule "rpg_quadrotor_control"]
	path = rpg_quadrotor_control
	url = git@github.com:binhnt94/rpg_quadrotor_control.git
