<?xml version="1.0"?>
<launch>
    <arg name="quad_name" default="kingfisher"/>
    <arg name="use_bem_propeller_model" default="False"/>
    <arg name="low_level_controller" default="Simple"/>
    <arg name="render" default="False"/>
    <param name="/use_sim_time" value="True"/>
    <arg name="real_time_factor" value="1.0"/>
    <arg name="gui" default="False"/>
    <arg name="rviz" default="False"/>

    <group ns="$(arg quad_name)">
        <node name="dodgeros_pilot" pkg="envsim" type="visionsim_node" output="screen">
            <param name="agi_param_dir" value="$(find dodgelib)/params"/>
            <param name="ros_param_dir" value="$(find envsim)/parameters"/>
            <param name="use_bem_propeller_model" value="$(arg use_bem_propeller_model)"/>
            <param name="pilot_config" value="simple_sim_pilot.yaml"/>
            <param name="real_time_factor" value="$(arg real_time_factor)"/>
            <param name="low_level_controller" value="$(arg low_level_controller)"/>
            <param name="camera_config" value="$(find envsim)/parameters/camera_config.yaml"/>
            <param name="render" value="$(arg render)"/>
            <!-- Depth uncertainty coefficients -->
            <param name="true_vehicle_radius" value="0.15" />
            <param name="ca0" value="0.005" />
            <param name="ca1" value="0.005" />
            <param name="ca2" value="0.005" />
            <param name="cl0" value="0.001" />
            <param name="cl1" value="0.0001" />
            <param name="cl2" value="0.0001" />
        </node>
    </group>

    <!-- Visualization -->
    <node pkg="rviz" type="rviz" name="viz_face" args="-d $(find envsim)/resources/rviz/envsim.rviz"
          ns="$(arg quad_name)" if="$(arg rviz)"/>

    <!-- GUI -->
    <node name="dodgeros_gui" pkg="rqt_gui" type="rqt_gui"
          args="-s dodgeros_gui.basic_flight.BasicFlight --args --quad_name $(arg quad_name)" output="screen"
          if="$(arg gui)"/>

    <!-- Flightmare Standalone -->
    <node name="flight_render" pkg="flightrender" type="RPG_Flightmare.x86_64" if="$(arg render)"/>
    <!-- args="-batchmode"/> -->

    <!-- Trajectory Planner -->
    <node name="planner" pkg="dess" type="main"/>
        <!-- Autopilot -->
        <rosparam file="$(find position_controller)/parameters/default.yaml" />
        <param name="goal_x_world_coordinate" value="6.0" />
        <param name="goal_y_world_coordinate" value="0.0" />
        <param name="goal_z_world_coordinate" value="5.0" />

        <param name="depth_upper_bound" value="4.5" />
        <param name="depth_lower_bound" value="1.7" />
        <param name="planning_vehicle_radius" value="0.2" />

        <param name="max_velocity_x" value="3.0" />
        <param name="max_velocity_y" value="1.5" />
        <param name="max_velocity_z" value="3.0" />
        <param name="max_acceleration_x" value="6.0" />
        <param name="max_acceleration_y" value="3.0" />
        <param name="max_acceleration_z" value="6.0" />
        <!-- Depth uncertainty coefficients -->
        <param name="true_vehicle_radius" value="0.15" />
        <param name="minimum_collision_distance" value="0.5" />
        <param name="ca0" value="0.005" />
        <param name="ca1" value="0.005" />
        <param name="ca2" value="0.005" />
        <param name="cl0" value="0.001" />
        <param name="cl1" value="0.0001" />
        <param name="cl2" value="0.0001" />
        <!-- <param name="state_estimate_timeout" value="0.1" />
        <param name="control_command_delay" value="0.0" /> -->
</launch>
